#bar-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.case-menu{
    width: 20%;
    border-right: solid;
    border-color: blanchedalmond;
}

.case-menu:hover{
    background-color: grey;
}

#titre-accueil{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;  
}

#log{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;  
}




a {
    text-decoration: none;
}


