#page{
    display: flex;
}

#video{
    width: 70%;
}

#description{
    width: 28%;
   display: flex;
   flex-direction: column;
   margin-left: 2%;

}

.line-description{
    display: flex;
    justify-content: left;
}

.line{
margin-left: 10px;
}
