{% extends 'base.html.twig' %}

{% block title %}Hello PlayerVideoController!{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('./css/playerVideo.css') }}" /> 
{% endblock %}


{% block body %}
<div id="page">
    <div id="video">
        <video controls width='100%'>

            <source src="/video/proute.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>

    <div id="description">
        {% for clip in video.clips %}
        <div class="line-description">
            <div class="line">  {{ clip.time|date("i:s")}} </div>
            <div class="line"> <a href={{ clip.broadcasterUrl}}> {{ clip.broadcasterName}} </a> </div>
            <div class="line">  {{ clip.title}} </div>
            <div class="line"> <a href={{clip.replayUrl}}>regarder le replay</a> </div>
        </div>
        {% endfor %}
    </div>

           
</div>
{% endblock %}
