<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('./css/base.css') }}" /> 

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
       
        <div id="bar-menu">
            <div class="case-menu">
                <a href="{{ path('test') }}" id="titre-accueil">  BEST CLIP </a>
            </div>

            <div class="case-menu">
                <a  href="{{ path('generate_video') }}" class="menu">creer une video</a>
            </div>

            <div class="case-menu">
                <a class="menu">Favorie</a>
            </div>

            <div class="case-menu">
                <a class="menu">Video</a>
            </div>
            {% if app.user %}
            <div class="case-menu">
                <a href="{{ path('app_logout') }}" id="log">logout</a>
            </div>
            {% else %}
            <div class="case-menu">
                <a href="{{ path('app_login') }}" id="log">login</a>
            </div>
            {% endif %}
        </div>
        
        {% block body %} {% endblock %}
    </body>
</html>
